.main_right {
    display: flex;
}

.main_right_body {
    width: 42vw;
    height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-right: 1px solid grey;
    margin-left: 0.1vw;
}

.main_right_title , .main_right_subtitle {
    color: gray;
}

.main_right_text {
    color: white;
    font-family: "Protest Strike", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 5vw;
  margin-left: 2vw;
}

.main_right_title {
    font-size: 3.5em;
    margin-right: 5vw;
}

.main_right_subtitle {
    font-size: 2rem;
    margin-right: 5vw;
}


.more {
    padding: 1.5vh 4vw;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(167,141,88);
    border-radius: 20px;
    margin-right: 5vw;
    margin-top: 5vh;
}


@media (max-width: 600px) {

    .main_right_body {
        align-items: center;
    }
    .main_right_title {
        font-size: 1.4rem;
        margin-right: 1vw;
    }
    .main_right_subtitle {
        font-size: 1.2rem;
    }
    .main_right_text {
        font-size: 0.7rem;
    }
    .more {
        padding: 1vh 2vw;
        font-size: 1rem;
    }

}

@media (max-width: 1361px) {
    .main_right_title {
        align-items: center;
        font-size: 2rem;
    }
    .main_right_subtitle {
        font-size:1rem ;
    }
    .main_right_text {
        font-size: 0.8rem;
    }
    .more {
        padding: 1vh 2vw;
        font-weight: 400;
    }
}