.profileWrapper {
    width: 100vw;
    height: 76vh;
    overflow-y: scroll;
}

.userHeader {
    text-align: center;
    color: var(--basics);
    font-family: "Noto Serif Armenian", serif;
    font-weight: 400;
    border-top: 1px solid var(--headers);
    margin: 0;
}

.userInfo {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--basics);
    font-family: "Noto Serif Armenian", serif;
    font-weight: 200;
}
.userInfo svg {
    font-size: 2rem;
    margin-right: 0.5vw;
}
.userInfoAsset {
    display: flex;
    align-items: center;
}
.userInfoAsset p {
    margin-left: 1vw;
}
.signOutBtn {
    background: none;
    border: none;
    cursor: pointer;
}
.signOutBtn svg {
    color: var(--accents);
    font-size: 2rem;
}

.userPortfolio {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 2vh 0;
    box-shadow: inset 0 0 320px var(--basics);
}
.certificateImg ,.bondImg {
    width: 300px;
}
.certificateWrapper , .totalBonds {
    color: var(--accents);
    text-align: center;
    font-size: 1.2rem;
}
.certificateWrapper p  , .totalBonds p{
    border-bottom: 1px solid var(--accents);
    padding: 1vh 0;
}
.totalPortfolio {
    color: var(--basics);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid var(--headers);
    font-family: "Noto Serif Armenian", serif;
    font-weight: 300;
    font-size: 1.2rem;
}
.totalPortfolio > a{
    text-decoration: none;
    color: var(--accents);
    margin-bottom: 2vh;
}

.loading {
    width: 100vw;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading_spinner {
    width: 20vw;
    height: 20vh;
}

@media (max-width: 600px) {
    .userInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .userPortfolio {
        overflow-x: scroll;
        flex-wrap: nowrap;
        border-radius: 5px;
    }
    .certificateWrapper , .totalBonds {
        width: 100vw;
        margin-left: 5vw;
    }
    .certificateImg ,.bondImg {
        width: 300px;
        height: 200px;
    }
    .bondImg {
        margin-right: 5vw;
    }
    .totalBonds p {
        margin-right: 3vh;
    }
    .totalPortfolio {
        flex-direction: column;
    }
}