.main_right_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 8vw;
    height: 76vh;
    /* border-left: 1px solid grey; */
}

.main_right_nav a {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-right: 2vh;
    padding-left: 2vh;
    transition: 0.3s;
    transform: rotate(-90deg);
    font-family: "Noto Serif Armenian", serif;
    font-weight: 100;
    
}

.main_right_nav a:hover {
    transform: rotate(-90deg);
}

.main_right_nav:hover > a:not(:hover) {
    filter: blur(10px);
    transform: rotate(-90deg);
}

@media (hover:hover) {
    .main_right_nav a:hover {
        transform: rotate(-90deg) scale(1.1);
    }
    
    .main_right_nav:hover > a:not(:hover) {
        filter: blur(10px);
        transform: rotate(-90deg);
    }
}

@media (hover:none) {
    .main_right_nav a:active {
        transform: rotate(-90deg) ;
    }
    
    .main_right_nav:active > a:not(:active) {
        filter: blur(10px);
        transform: rotate(-90deg) scale(0.9);
    }
}