body {
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  ::-webkit-scrollbar {
    width: 0;
  }
}

:root {
  --basics: #686a6c;
  --accents:#79ADE0;
  --headers:#2B3E50;
  --texts:#ffffff;
}