.about_wrapper {
    display: flex;
}

.about_body {
    width: 42vw;
    height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid var(--headers);
    margin-left: 0.1vw;
}

.idea {
    width: 42vw;
    text-align: center;
}

.idea h1 {
    color: var(--basics);
    font-family: "Protest Strike", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.profit {
    width: 35vw;
    height: 40vh;
    overflow-y: scroll;
    z-index: 1;
    margin-bottom: 1vh;
}

.profit h3 {
    color: white;
    font-size: 1.3rem;
    font-family: "Noto Serif Armenian", serif;
    font-weight: 200;
}

.about_body a {
    color: var(--headers);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.8vw 0.8vh;
    font-family: "Noto Serif Armenian", serif;
    font-weight: 300;
    background-color: var(--accents);
    border-radius: 20px;
    margin-bottom: 1vh;
}

/* Mobile  */

@media (max-width: 600px) {
    .idea h1 {
        font-size: 1.2rem;
    }
    .profit h3 {
        font-size: 0.8rem;
    }
    .about_body a {
        font-size: 0.9rem;
    }
}

@media (max-width: 1361px) {
    .idea h1 {
        font-size: 1.5rem;
    }
    .profit h3 {
        font-size: 0.9rem;
    }
    .about_body a {
        font-size: 1rem;
    }
}